body{
	background: rgb(228, 222, 222);
}

.card-comment{
	text-align: center;
	font-style: oblique;
	font-size: 1.7rem;
	padding: 10px 0
	;
}

.card-comment div:nth-child(1){
		font-size: 1.2rem;
		font-weight: 500;
		padding: 5px 0 5px 20px;
}

.card-comment div:nth-child(2){
	font-size: 1.2rem;
	font-style: italic;
	font-weight: 500;
	padding: 5px 0 5px 40px;
}

.card-comment div:nth-child(3){
	display: inline;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 5px 0 5px 60px;
}

.card-comment div:nth-child(3) :first-letter{
	font-style: 5rem;
}

button{
	display: block;
	background: url(../img/icon.png) no-repeat center;
	background-size: 12px;
	height: 1.5rem;
	width: 1.5rem;
	margin:1rem auto;
}

button:hover{
	box-shadow: 2px 3px 1px gray;
	transition: .3s;
	transform: scale(1.5);
	cursor: pointer;
}

.modal {
	width: 80%;
	height: 100px;
	font-weight: bold;
	position: sticky;
	top: 50px;
	display: none;
	margin: 0 auto;
}

div.modal{
flex-direction: column;
justify-content: space-evenly;
}

div.modal > div{
	padding: 1rem;
	background: rgb(207, 205, 205) ;
}

.close, .name, .coment{
	text-align: center;
}

.close{
font-size: 1.2rem;
font-weight: 800;
color: rgb(245, 12, 12);
	cursor: pointer;
}





